/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    scroll-behavior: smooth;
}

a {
    color: #522db2;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2b135e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    transition: opacity 0.5s ease;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #522db2;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #522db2;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: opacity 0.4s, visibility 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3284f1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #522db2;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

#topbar .contact-info i {
    font-style: normal;
    color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

#topbar .social-links a:hover {
    color: white;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
    height: 70px;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #522db2;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #522db2;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #522db2;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #522db2;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile > ul > li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #522db2;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #522db2;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 75vh;
    background: url("../img/hero-bg.png") top left;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

#hero h1 span {
    color: #522db2;
}

#hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #fff;
    background: #522db2;
}

#hero .btn-get-started:hover {
    background: #2b135e;
    transform: translateY(-5px);
}

#hero .btn-watch-video {
    font-size: 16px;
    transition: color 0.3s ease;
    /* margin-left: 25px; */
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#hero .btn-watch-video i {
    color: #522db2;
    font-size: 32px;
    transition: color 0.3s ease;
    line-height: 0;
    margin-right: 8px;
}

#hero .btn-watch-video:hover {
    color: #522db2;
}

#hero .btn-watch-video:hover i {
    color: #2b135e;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f9fe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #522db2;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h3 span {
    color: #522db2;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
.icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    z-index: 1;
}

.icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icon-box::before {
    content: "";
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.icon-box:hover::before {
    background: #522db2;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #522db2;
    transition: all 0.3s ease-in-out;
}

.icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
    transition: color 0.3s ease;
}

.services .title a:hover {
    color: #522db2;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.icon-box:hover .title a,
.icon-box:hover .description {
    color: #fff;
}

.icon-box:hover .icon {
    background: #fff;
}

.icon-box:hover .icon i {
    color: #522db2;
}

/*--------------------------------------------------------------
  # More Services
  --------------------------------------------------------------*/
.more-services {
    padding-top: 20px;
}

.more-services .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.3s ease;
}

.more-services .card:hover {
    transform: translateY(-10px);
}

.more-services .card-body {
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    border-radius: 5px;
}

.more-services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.more-services .card-title a {
    color: #222222;
    transition: color 0.3s ease;
}

.more-services .card-title a:hover {
    color: #522db2;
}

.more-services .card-text {
    color: #5e5e5e;
}

.more-services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: color 0.3s ease;
}

.more-services .read-more a:hover {
    color: #522db2;
    text-decoration: underline;
}

.more-services .card:hover .card-body {
    background: #522db2;
}

.more-services .card:hover .read-more a,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
    color: #fff;
}

/*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
.features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f6f6f6;
    transition: background 0.3s ease;
}

.features .icon-box:hover {
    background: #eef7fc;
}

.features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}

.features .icon-box h3 a {
    color: #222222;
    transition: color 0.3s ease;
}

.features .icon-box h3 a:hover {
    color: #522db2;
}

/*--------------------------------------------------------------
  # Services Section with Swiper
  --------------------------------------------------------------*/
.services-photo .swiper-container {
    padding: 20px 0;
}

.services-photo .card {
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    border-radius: 0;
    height: 100%;
    transition: transform 0.3s ease;
}

.services-photo .card:hover {
    transform: translateY(-10px);
}

.services-photo .card .card-img {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 0;
}

.services-photo .card .card-img img {
    transition: transform 0.3s ease;
}

.services-photo .card:hover .card-img img {
    transform: scale(1.05);
}

.services-photo .card h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.services-photo .card a {
    color: #001973;
    transition: color 0.3s ease;
}

.services-photo .card a:hover {
    color: #522db2;
}

.services-photo .card p {
    padding: 0 30px;
    margin-bottom: 30px;
    color: #5e5e5e;
    font-size: 15px;
}

/*--------------------------------------------------------------
  # Call To Action Section
  --------------------------------------------------------------*/
.call-to-action {
    background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)),
        url("../img/cta-bg.jpg") center center;
    background-size: cover;
    padding: 100px 0;
}

@media (min-width: 1365px) {
    .call-to-action {
        background-attachment: fixed;
    }
}

.call-to-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.call-to-action p {
    color: #fff;
}

.call-to-action .cta-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: background 0.3s ease, border 0.3s ease;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.call-to-action .cta-btn:hover {
    background: #522db2;
    border: 2px solid #2b135e;
}

/*--------------------------------------------------------------
  # Services with Colors
  --------------------------------------------------------------*/
.services-colors .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    /* margin: 15px; */
}

.services-colors .service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: background 0.3s ease, color 0.3s ease;
}

.services-colors .service-box h3 {
    color: #444444;
    font-weight: 700;
}

.services-colors .service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
    transition: color 0.3s ease;
}

.services-colors .service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.services-colors .service-box.blue {
    border-bottom: 3px solid #2db6fa;
}

.services-colors .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.services-colors .service-box.blue .read-more {
    color: #2db6fa;
}

.services-colors .service-box.blue:hover {
    background: #2db6fa;
}

.services-colors .service-box.orange {
    border-bottom: 3px solid #f68c09;
}

.services-colors .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.services-colors .service-box.orange .read-more {
    color: #f68c09;
}

.services-colors .service-box.orange:hover {
    background: #f68c09;
}

.services-colors .service-box.green {
    border-bottom: 3px solid #08da4e;
}

.services-colors .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.services-colors .service-box.green .read-more {
    color: #08da4e;
}

.services-colors .service-box.green:hover {
    background: #08da4e;
}

.services-colors .service-box.red {
    border-bottom: 3px solid #e9222c;
}

.services-colors .service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
}

.services-colors .service-box.red .read-more {
    color: #e9222c;
}

.services-colors .service-box.red:hover {
    background: #e9222c;
}

.services-colors .service-box.purple {
    border-bottom: 3px solid #b50edf;
}

.services-colors .service-box.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
}

.services-colors .service-box.purple .read-more {
    color: #b50edf;
}

.services-colors .service-box.purple:hover {
    background: #b50edf;
}

.services-colors .service-box.pink {
    border-bottom: 3px solid #f51f9c;
}

.services-colors .service-box.pink .icon {
    color: #f51f9c;
    background: #feecf7;
}

.services-colors .service-box.pink .read-more {
    color: #f51f9c;
}

.services-colors .service-box.pink:hover {
    background: #f51f9c;
}

.services-colors .service-box:hover h3,
.services-colors .service-box:hover p,
.services-colors .service-box:hover .read-more {
    color: #fff;
}

.services-colors .service-box:hover .icon {
    background: #fff;
}

/*--------------------------------------------------------------
  # Parallax Effect
  --------------------------------------------------------------*/
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    max-height: 40px;
    transition: max-height 0.3s ease;
}

@media (max-width: 768px) {
    .logo img {
        max-height: 30px;
    }
}

/* Nueva sección Voicebot Solution */
#voicebot-solution {
    padding: 60px 0;
}

#voicebot-solution h2 {
    color: #522db2;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

#voicebot-solution .lead {
    font-size: 18px;
    font-weight: 600;
}

#voicebot-solution p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

#voicebot-solution .highlight {
    color: #522db2;
    font-weight: 700;
}

#voicebot-solution .final-cta {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

#voicebot-solution .info-box {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#voicebot-solution .info-box h3 {
    font-size: 24px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

#voicebot-solution .list-features {
    list-style: none;
    padding: 0;
}

#voicebot-solution .list-features li {
    font-size: 16px;
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

#voicebot-solution .list-features li:before {
    content: "•";
    color: #522db2;
    position: absolute;
    left: 0;
    font-size: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #voicebot-solution {
        text-align: center;
    }

    #voicebot-solution .col-lg-8,
    #voicebot-solution .col-lg-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    #voicebot-solution .info-box {
        margin-top: 20px;
    }
}

.icono {
    font-size: 2em;
    color: #f4a000;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icono:hover {
    color: #3d1579; /* Cambia el color del icono a morado */
    transform: rotate(20deg); /* Gira el icono ligeramente */
}

/* Nueva sección de Integración Tecnológica */
.tech-integration {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.tech-integration .image-container {
    text-align: center;
}

.tech-integration .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
    .tech-integration .image-container img {
        max-width: 90%;
    }
}

.custom-hover-image {
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-bottom: 20px; /* Añade un espacio debajo de la imagen */
}

.custom-hover-image:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #f1f6fe;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f1f6fe;
    text-align: center;
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #522db2;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #2b135e;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
    color: #522db2;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #522db2;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #522db2;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #522db2;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #2b135e;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    text-align: center;
    float: left;
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #444444;
}

@media (max-width: 768px) {
    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 2px 0;
    }
}

.img-fluid {
    border-radius: 8px;
    max-width: 80%;
}

.partner-logo {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto; /* Centra el contenedor en dispositivos pequeños */
}

.partner-logo img {
    max-width: 70%;
    max-height: 70%;
}

.partner-logo:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
}

.card-text {
    color: white !important;
}

.advantage-card {
    background-color: #5e3c95; /* Un fondo más claro para las tarjetas */
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.advantage-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
}

.advantage-card h4 {
    margin-top: 15px; /* Espacio entre el ícono y el título */
}

.icon-box {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon-box .icon {
    margin-bottom: 15px;
}

.icon-box h4 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.icon-box a {
    color: #333;
    text-decoration: none;
}

.icon-box a:hover {
    color: #522db2;
}

/* Aseguramos que las columnas ocupen más espacio horizontal */
.row.justify-content-center .col-lg-2 {
    flex: 1 0 19%; /* Ocupa más espacio horizontal */
    margin: 10px; /* Añade separación entre los ítems */
}

/* Responsividad */
@media (max-width: 1200px) {
    .row.justify-content-center .col-lg-2 {
        flex: 1 0 30%; /* Ajusta el ancho en pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .row.justify-content-center .col-lg-2 {
        flex: 1 0 45%; /* Ajusta el ancho en pantallas móviles */
    }
}

@media (max-width: 576px) {
    .row.justify-content-center .col-lg-2 {
        flex: 1 0 100%; /* Ocupa todo el ancho en pantallas muy pequeñas */
    }
}

#rpa-solution .section-header h2 {
    color: #472c85;
    font-weight: bold;
    font-size: 2rem;
}

#rpa-solution .section-header p {
    color: #333;
    font-size: 1.1rem;
}

#rpa-solution .icon-box {
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    color: #f69c00;
}

#rpa-solution .icon-box i {
    font-size: 3rem;
    color: #f69c00;
    margin-bottom: 10px;
}

#rpa-solution .icon-box h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #472c85;
    padding: 10px;
}

#rpa-solution .icon-box:hover h4 {
    color: #fff;
    transition: color 0.3s ease;
}

.progress-bar-container {
    text-align: center;
}

img.img-fluid {
    border-radius: 10px;
}

#competitive-advantages .section-header h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#competitive-advantages .col-lg-4 h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #f69c00;
}

#competitive-advantages .col-lg-4 p {
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
}

#competitive-advantages .icon-container {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#competitive-advantages .img-fluid {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#competitive-advantages .col-lg-4 {
    margin-bottom: 30px;
}
